@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
body {
    background-color: #f4f4f4;
}
header {
    width: 100%;
    height: 100vh;
}
.logo {
  width: 130px;
}
.navbar--logo {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 1.5rem;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    text-transform: uppercase;
    color: black;
}
.nav-links li:nth-child(1) a{
    color: #33d2fd;
}
.intro {
    position: relative;
}

.intro {
    background-color: black;
    width: 100%;
    height: 80vh;
}

.intro > div  {
    color: white;
    position: absolute;   
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
   
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.down--arrow {
    position: absolute;
    bottom: 10px;
    right: 50%;
    animation: downArrow 3s linear;
    animation-iteration-count: infinite;
    
}
@keyframes downArrow {
    0%,20%,60%,100% {
        bottom: 30px;
    }50% {
        bottom: 20px;
    }80% {
        bottom: 10px;
    }
}
.btns {
    display: flex;
    gap: 2.5rem;
}
.btns button{
    width: 140px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: white;
}
.btn--1{
    background: transparent;
    border: 2px solid white;
    text-decoration: none;
    
}
.btn--2{
    background-color: #00c7fc;
    border: none;
    text-decoration: none;
}
.btns a{
    color: white;
}
.section--1{
    margin: auto;
    text-align: center;
    width: 60%;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.section--2 {
    margin-top: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,20%);
    grid-auto-rows: auto;
	align-items: center;
    justify-content: center;
    grid-column-gap:20px ;
} 
.section--2 > div {
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    
}
.section--2 img {
    width: 54px;
}
.line {
    height: 3px;
    width: 40px;
    background-color: #00c7fc;
}
.section--2 p {
    padding-top: 30px;
    text-align: center;
}

@media screen and (max-width:700px) {
    .section--2 {
        grid-template-columns: repeat(3,30%);
    }
}
.section--3 {
    width: 100%;
    height: 80vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 100px;
}
.section--3 > div  {
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    width: 70%;
    text-align: center;
}
.icons {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.icons img {
    width: 80px;
}
.author {
    opacity: .7;
    font-style: italic;
}
.foot {
    height: 70vh;
    width: 100%;
    background-color:black;
    color: white;
    display: grid;
    grid-template-columns: repeat(2,30%);
    grid-template-rows: 300px;
    padding: 100px;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    justify-content: center;
    align-items: center;
    
}
.foot > div {
    border: 2px solid rgb(152, 152, 152);
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 1rem;
    align-items: center;
    width: 100%;
    height: 400px;
    position: relative;
    
    
}
input {
    border: none;
    width: 100%;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: black;
    outline: none;
    color: white;
}
label {
    width: 100%;
}
.sentBtn {
    position: absolute;
    right: 50px;
    bottom: 80px;
    background: transparent;
    color: #00c7fc;
    border: none;


}


@media screen and (max-width:600px) {
    .foot {
        grid-template-columns: 50%;
        height: auto;
        grid-column-gap: 1rem;
    }
}
@media screen and (max-width:1300px) {
    .foot {
        grid-template-columns: 100%;
        height: auto;
        grid-column-gap: 1rem;
    }
}

footer {
    width: 100%;
    height: 12vh;
    background-color: #33d2fd;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.foot-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.foot-icons img {
    width: 20px;
}
.about p {
    text-align: center;
    margin-top: 30px;
}