.text {
    width: 500px;
    height: auto;
    margin: auto;
    background-color: burlywood;
    
}
.header {
    text-align: center;
}
.para1 {
    font-weight: bold;
}
.header2 {
    color: red;

}
.span1 {
    color: green;
    font-size: 40px;
}
.span2 {
    color: green;
    font-size: 30px;
}
.shapes {
    width: 500px;
    height: 50vh;
    margin: auto;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.squere {
    
    height: 130px;
    width: 130px;
    background-color: aqua;
    border-radius: 30px;
}
.circle {
     
    height: 130px;
    width: 130px;
    background-color: rgb(205, 194, 179);
    border-radius: 50%;
}