*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;

}
body {
    background-color: #FFFFFF;
}
header {
    height: 15vh;
    background-color: #191919;
    position: relative;
    
    
}
.logo  img {
    width: 70px;
    margin-bottom: 10px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h1 {
    margin-left: 15px;
    color: #FFFFFF;
    font-size: 30px;

}
.logo h1 span {
    color: #f57915;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: auto;
    height: 15vh;
    background-color: #191919;
    
}
.nav-links {
    display: flex;
    gap: 2rem;
 
}
.nav-links li a {
    text-decoration: none;
    color: white;
    transition: all .2s linear;
}
.nav-links li + ::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    background-color: #f57915;
    margin-left: -15px;

    
}
.nav-links li a:hover {
    color: rgb(163, 98, 12);
}
.line {
    height: 5px;
    width: 100%;
    background-color: #f57915;
    position:absolute;
    bottom: 3px;
}
.img {
    background: url(http://pavbca.com/walldb/original/2/d/b/234193.jpg);
    width: 90%;
    height: 40vh;
    background-size: cover;
    margin: auto;
    color: rgb(255, 255, 255);
    position: relative;
    
}
.img div {
    position: absolute;
    right: 40px;
    top: 30px;
}
.img_items {
    color: #f57915;
    font-weight: 500;
    margin-left: 70px;
    font-size: 18px;
    margin-top: 30px;
}
.serv_links li {
    margin-top: 10px;
}
.section_1 {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
     gap: 10rem;
}

.sect_1,.sect_2 {
    margin-top: 30px;
    
}
.sect_1 {
    width: 30%;
}
.sect_2 {
    width: 70%;
    margin-right: 50px;
}
.sect_1 h3 {
    color: #f57915;
    font-size: 15px;
}
section {
    width: 90%;
    margin: auto;
}
footer {
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
    width: 100%;
    height: 10vh;
    background-color: grey;
    padding-top: 15px;
}
.test {
    margin-top: 50px;
}
.sect_2_para_2 {
    margin-top: 20px;
    
}
.sect_2_para_2 span {
    color: #f57915;
    font-weight: bold;
}
.sect_2 h2 {
    font-size: 45px;
}
.sect_2 h2 span {
    font-size: 25px;
    opacity: .7;
}
.sect_2_para_1{
    color: #616161;
}
.orange_header {
    margin-top: 20px;
}


.first_cont img,.second img {
    width: 80%;
    height:130px ;
}
.images div {
    width: 90%;
    position: relative;
}
.images p {
    width: 80%;
}

.images {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    
}
